{# src/General/SymProjectBundle/Resources/views/Default/about.html.twig #}
{% extends 'GeneralSymProjectBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">
                    <br><br>
                    <h2 class="blog-post-title">About SymProject</h2>
                    <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit
                        amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
                        Donec imperdiet ante sed diam consequat et dictum erat faucibus. Aliquam sit
                        amet vehicula leo. Morbi urna dui, tempor ac posuere et, rutrum at dui.
                        Curabitur neque quam, ultricies ut imperdiet id, ornare varius arcu. Ut congue
                        urna sit amet tellus malesuada nec elementum risus molestie. Donec gravida
                        tellus sed tortor adipiscing fringilla. Donec nulla mauris, mollis egestas
                        condimentum laoreet, lacinia vel lorem. Morbi vitae justo sit amet felis
                        vehicula commodo a placerat lacus. Mauris at est elit, nec vehicula urna. Duis a
                        lacus nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                        posuere cubilia Curae.</p>
                </div><!-- /.blog-post -->
             </div>
        </div>
    </div>
{% endblock %}

{% block pagination %}{% endblock %}